
  <%= form_for @band do |f| %>
    <%= render 'shared/error_messages' %>

    <p>
    <div class='editmemberships'>
    <table>
    	<tr>
    		<th>Nom</th><th>Instrument</th><th>Status</th><th>  </th>
    	</tr>
    </table>
    <%= f.fields_for :memberships do |builder| %>
      <%= render 'membership_fields', f: builder %>
    <% end %>
  
	<%= link_to_add_fields "Invite new musician", f, :memberships %>
	</div>
	</p>
    <p>
      <%= hidden_field_tag "section", "members" %>
      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    </p>
  <% end %>
