
  <%= form_for @band do |f| %>
    <%= render 'shared/error_messages' %>

<div style="width:728px;" class="well text2 center membership_fields">
    
    <table >
    	<tr>
    		<td><label>Name</label></td><td><label>Instrument</label></td><td><label>Status</label></td><td></td>
    	</tr>
    </table>
    <%= f.fields_for :memberships do |builder| %>
      <%= render 'membership_fields', f: builder %>
    <% end %>
  
	<%= link_to_add_fields "Invite new musician", f, :memberships %>
	</div>

      <%= hidden_field_tag "section", "members" %>
      <%= f.submit "Save changes", class: 'btn btn-primary', style: "width:100%;" %>



  <% end %>
