      <div class="result_user">

<p>
  <%= form_for @band, :html => { :multipart => true } do |f| %>
    <%= render 'shared/error_messages' %>

    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "Band name" %>

    <%= f.label :genre %>
    <%= f.select :genre_id, options_from_collection_for_select(Genre.all, 'id', 'name', f.object.genre_id) %>

    <%= f.label :description %>
    <%= f.text_area :description %>

    <%= f.label :band_picture %>
    <%= f.file_field :image %>

    <br />
    <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
  <% end %>

</p>
</div>