<% content_for :javascript_includes do %>
  <%= javascript_include_tag "https://j.maxmind.com/app/geoip.js" %>
  <script type="text/javascript">
  $(document).ready(function(){
    if (!document.getElementById('user_city_name').value)
    {
      var city = geoip_city() + ', ' + geoip_region_name() + ', ' + geoip_country_name().toUpperCase();
      document.getElementById('user_city_name').value = city;
    }
    if (!document.getElementById('band_city_name').value)
    {
      var city = geoip_city() + ', ' + geoip_region_name() + ', ' + geoip_country_name().toUpperCase();
      document.getElementById('band_city_name').value = city;
    }
  });
  </script>
<% end %>

<div class="center-logo">

<%= image_tag "home/left.png", alt:"" %>
<%= image_tag "home/logo_hd.png", alt:"", width: 434 %>
<%= image_tag "home/right.png", alt:"" %>
</div>
<div id="amp_full">
 	<ul class="amp_fieldul">
		<li class="amp">
		<%= form_tag users_path, :method => 'get', onsubmit: "if('#{params[:user_city_name]}' && document.getElementById('user_city_name').value == ''){document.getElementById('user_city_name').value = '#{params[:user_city_name]}'; 
			document.getElementById('user_city_has_been_selected').value = 1;
			document.getElementById('user_city_id').value = '#{params[:user_city_id]}';}" do %>
		<div class="amp_field">
		<div class="amp_fieldh1">I'm looking for a musician</div>
		<span class="amp_fieldh2" style="margin-top:4px;">Playing </span>
        <% 
            available_instruments = Instrument.all.delete_if{|i| i.name == "Unknown"}
            any_instrument = Instrument.new(name: 'Any Instrument')
            any_instrument.id = 0 
            available_instruments.unshift(any_instrument)
        %>
        <%= select_tag 'instrument_id', options_from_collection_for_select(available_instruments, 'id', 'name', params[:instrument_id]), { class: 'input_search_amp' } %>
		<span class="amp_fieldh2" style="margin-top:2px;clear:right;">Near</span>
		<%= text_field_tag 'user_city_name', params[:user_city_name], class: 'text input-x1', placeholder: 'City name', data: {autocomplete_source: cities_path}, id: 'user_city_name',
          onclick: 'this.select();',
          onblur: "if('#{params[:user_city_name]}' && this.value == ''){this.value = '#{params[:user_city_name]}'; 
          document.getElementById('user_city_has_been_selected').value = 1;
          document.getElementById('user_city_id').value = '#{params[:user_city_id]}';}"  
        %> 
        <%= hidden_field_tag 'user_city_id', params[:user_city_id] %> 
        <%= hidden_field_tag 'user_city_has_been_selected', 0 %>
		<%= submit_tag 'Let\'s band!', :name => nil, class: 'btn btn-block btn-primary', style: 'width:240px;' %>	
		<% end %>
		
		</div>
		</li>
		<li class="amp">
		<%= form_tag bands_path, :method => 'get', onsubmit: "if('#{params[:band_city_name]}' && document.getElementById('band_city_name').value == ''){document.getElementById('band_city_name').value = '#{params[:band_city_name]}'; 
			document.getElementById('band_city_has_been_selected').value = 1;
			document.getElementById('band_city_id').value = '#{params[:band_city_id]}';}" do %>
		<div class="amp_field">
		<div class="amp_fieldh1">I'm looking for a band</div>
		<span class="amp_fieldh2" style="margin-top:4px;">Playing </span>		
		<%
			available_genres = Genre.all
			any_genre = Genre.new(name: "Any Genre")
			any_genre.id = 0
			available_genres.unshift(any_genre)
		%>
		<%= select_tag 'genre_id', options_from_collection_for_select(available_genres, 'id', 'name', params[:genre_id]), { class: 'input_search_amp' } %>
		<span class="amp_fieldh2" style="margin-top:2px;clear:right;">Near</span>
		<%= text_field_tag 'band_city_name', params[:band_city_name], class: 'text input-x1', placeholder: 'City name', data: {autocomplete_source: cities_path}, id: 'band_city_name',
			onclick: 'this.select();',
			onblur: "if('#{params[:band_city_name]}' && this.value == ''){this.value = '#{params[:band_city_name]}'; 
			document.getElementById('band_city_has_been_selected').value = 1;
			document.getElementById('band_city_id').value = '#{params[:band_city_id]}';}"  
	    %> 
	    <%= hidden_field_tag 'band_city_id', params[:band_city_id] %> 
	    <%= hidden_field_tag 'band_city_has_been_selected', 0 %>
		<%= submit_tag 'Let\'s band!', :name => nil, class: 'btn btn-block btn-primary', style: 'width:240px;' %>
		</div>
		<% end %>
		</li>
	</ul>