<% provide(:title, "Invitation") %> 
<% friend = current_user?(message.sender) ? message.recipient : message.sender %>
<div class="invitation_full">
<p>
	<table><tr><td>
		<%= gravatar_for message.sender %></td><td>
		Date: <%= message.created_at %><br/>
		From: <%= link_to message.sender.name, message.sender %><br/>
		To: <%= link_to message.recipient.name, message.recipient %>
	</td></tr></table>
</p>
<p>
	<em><%= message.subject.blank? ? '(No subject)' : message.subject %></em>
</p>
	<table class="invitation_buttons"><tr>
	<% membership = Membership.where(band_id: message.inviting_band_id, user_id: current_user.id).first %>
	<% if (membership.try(:role) == "invited") && can?(:convert_to_member, membership) %>
		<td><%= (button_to "Accept invitation", convert_to_member_membership_path(membership), :method => "get", class: "btn btn-primary btn-small") %></td>
	<% end %>
	<% if (membership.try(:role) == "invited") && can?(:destroy, membership) %>
		<td><%= form_for(membership, html: { method: :delete }, remote: true) do |f| %>
			<%= f.submit "Turn down invitation", confirm: "Are you sure you want to turn down this invitation ?", class: "btn btn-small btn-primary" %>
		<% end %></td>
	<% end %>
	</tr></table>

<p>
	<% if is_last_message_in_thread %>
	<%= link_to 'Reply', new_message_path(recipient_id: friend.id, subject: ((message.subject[0..2]=='Re:') ? '' : 'Re: ') + message.subject, origin_message_id: message.id) %>
	<% end %>
</p>
</div>
