<% friend = current_user_is_recipient ? message.sender : message.recipient %>
<li class="<%= message.message_read? ? "read" : "not_read" %>">
	<table>
		<tr>
			<td><%= gravatar_for friend.sender %></td>
			<td>
				<table>
					<tr>
						<td class="friend_name"><%= (current_user_is_recipient ? "From: ": "To: ") %><%= link_to friend.name, friend %></td>
						<td><%= link_to("View", message) %></td>
					</tr>
					<tr>
						<td class="subject"><em><%= link_to (message.subject.blank? ? '(No subject)' : message.subject), message %></em></td>
						<td><%= link_to image_tag("delete.png", size:'16x16'), message, method: :delete,
                          data: { confirm: "Are you sure you want to delete this message? This operation cannot be undone." } %></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</li>