<% provide(:title, "New Message") %>
<% provide(:menu, "new") %>

    <%= form_for(@message) do |f| %>
		<% if @message.errors.any? %>
		  <div id="error_explanation">
		    <div class="alert alert-error">
		      The form contains <%= pluralize(@message.errors.count, "error") %>.
		    </div>
		    <ul>
		    <% @message.errors.full_messages.each do |msg| %>
		      <li>* <%= msg %></li>
		    <% end %>
		    </ul>
		  </div>
		<% end %>

		<%= f.label :recipient %>
		<% if recipient_id.present? %>
		<%= f.label :recipient_name, User.find(recipient_id).name %>
		<%= f.hidden_field :recipient_id, value: recipient_id %>
		<% else %>
		<% available_recipients = current_user.contacts %>
		<% current_user.memberships.each { |m| available_recipients |= m.band.members } %>
		<% available_recipients.sort!{ |a,b| a.name.downcase <=> b.name.downcase } %>
		<%= f.select :recipient_id, options_from_collection_for_select(available_recipients, 'id', 'name'), :prompt => "Select Contact..." %>
		<% end %>

		<%= f.label :subject %>
		<%= f.text_field :subject, value: (params[:message] && params[:message][:subject]) ? params[:message][:subject] : ''%>
		<%= f.hidden_field :origin_message_id, value: params[:message][:origin_message_id] %>

		<%= f.label :body %>
		<%= f.text_area :body %>
		<br/>
		<%= f.submit "Send", class: "btn btn-large btn-primary" %>
    <% end %>