
  <%= form_for @user do |f| %>
    <%= render 'shared/error_messages' %>


<table  class="well text2 center general_profile"><tr><td style="padding-left:10px;padding-top:10px;"><a href="http://gravatar.com/emails">Change photo</a></td><td></td><td></td></tr>
  <tr><td>
    <div class="avatar">

              <%= gravatar_for @user, class: 'avatar_size avatar-border'  %>

</div>
  </td><td></td><td>    </td></tr><tr>
 <td> 
    <%= f.label :name %>
    <%= f.text_field :firstname, placeholder: "First name", class: "half_width" %>
    </td><td >
        <%= f.label :surname %>

    <%= f.text_field :surname, placeholder: "Last name", class: "half_width" %>
</td><td>
    <%= f.label :email %>
    <%= f.text_field :email , class: "full_width" %>
</tr><tr><td>    <%= f.label :password %>
    <%= f.password_field :password, class: "full_width"  %>
    
</td>
    <td> <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation, class: "full_width" %></td><td>
   </td></tr>
 
  
  </table>
<table><%= f.submit "Save changes", style: "width:100%;", class: "btn  btn-primary" %></table>
 <% end %>
 
