
  <%= form_for @user do |f| %>
    <%= render 'shared/error_messages' %>


<div style="width:728px;" class="well text2 center">


    <%= f.fields_for :favorite_genres do |builder| %>
    
     <%= render 'favorite_genre_fields', f: builder %>
  
    <% end %>

	
	<%= link_to_add_fields "Add Played Genre", f, :favorite_genres %>


  </div>

      <%= hidden_field_tag "section", "genres" %>
   <table><%= f.submit "Save changes", style: "width:100%;", class: "btn  btn-primary" %></table>
 <% end %>