
  <%= form_for @user do |f| %>
    <%= render 'shared/error_messages' %>

    <p>
    <div class='editskills'>
    <table>
    	<tr>
    		<th>Instrument</th><th>Expertise</th><th>Experience</th><th>Education</th><th>Priority</th><th>  </th>
    	</tr>
    </table>
    <%= f.fields_for :skills do |builder| %>
      <%= render 'skill_fields', f: builder %>
    <% end %>
    
	
	<%= link_to_add_fields "Add Skill", f, :skills %>
	</div>
	</p>
    <p>
      <%= hidden_field_tag "section", "skills" %>
      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    </p>
  <% end %>
