
  <%= form_for @user do |f| %>
    <%= render 'shared/error_messages' %>

    <div class="editskills text2 well">
      <ul>
        <li><label>Instrument</label></li>
        <li><label>Expertise</label></li>
        <li><label>Experience</label></li>
        <li><label>Education</label></li>
        <li><label>Priority</label></li>

      </ul>

    
     
    <%= f.fields_for :skills do |builder| %>
      <%= render 'skill_fields', f: builder %>
    <% end %>
     <%= link_to_add_fields "Add Skill", f, :skills %>

        </div>
	
	


    <table class="center">
      <%= hidden_field_tag "section", "skills" %>
      <%= f.submit "Save changes", class: 'btn btn-primary', style: "width:100%;" %>
    </table>
  <% end %>
