<div class="result_user">
    <div class="avatar img-rounded" >
      <%= gravatar_for user, class: 'avatar_size avatar-border' %>
    </div>
  <div style="float:left;">
  <h1><%= link_to user.firstname, user %></h1>
  <div class="result_part">
     <div class="text"><%= image_tag "img/home.png", alt:"", class:'ico'  %> 

        <% 
          ref_city = City.find_by_id(params[:user_city_id])
          if user.city.id != ref_city.id 
            distance_ref_city = ref_city.distance(user.city)
        %>
          (<%= (distance_ref_city.round(1)).to_s %> km from <%= ref_city.name %>)
        <% 
          end 
        %>

      </div>
      <div class="text"><%= image_tag "img/sex.png", alt:"", class:'ico'   %> Male, 25-year-old</div>
      <div class="text"><%= image_tag "img/music.png", alt:"", class:'ico' %> 
        <% if user.favorite_genres.empty? %>
        None
        <% else %>
        <% i = 1 %>
        <% user.favorite_genres.first(2).each do |genre| %>          
        <%= Genre.find(genre.genre_id).name %>
        <% if i != user.favorite_genres.first(2).count %>
         ,
        <% end %>
        <% i = i + 1 %>
        <% end %>
        <% end %>

          </div>
   </div>
   </div>

<div  style="float:left;">
          <h1 style="color:#4E4E4E;">Instruments</h1>
          <div class="result_part2">
            <div class="ico_instru"><%= image_tag "img/ico_guitar.png", alt:"", class:''   %><%= image_tag "img/ico_guitar.png", alt:"", class:''   %><%= image_tag "img/ico_guitar2.png", alt:"", class:''   %></div>
            <div class="ico_instru"><%= image_tag "img/ico_violin.png", alt:"", class:''   %><%= image_tag "img/ico_violin.png", alt:"", class:''   %><%= image_tag "img/ico_violin.png", alt:"", class:''   %></div>
          </div>
        </div>

<div  style="float:left;">
          <h1 style="color:#4E4E4E;">Education</h1>
          <div class="result_part3">
            <div class="text_edu"><%= image_tag "img/edu.png", alt:"", class:'ico'  %> Self-Taught / <strong>2 years</strong></div>
            <div class="text_edu"><%= image_tag "img/edu.png", alt:"", class:'ico'  %> Music Student / <strong>7 years</strong></div>
          </div>
        </div>

<div  style="float:left;">
          <h1 style="color:#4E4E4E;">Curently &amp; Past Playing Band</h1>
          <div class="result_part4">
            <div class="text_band"><% if user.memberships.empty? %>
            None
<% else %>
  <% i = 1 %>
            <% user.memberships.first(4).each do |membership| %>
    <%= link_to membership.band.name, membership.band %>
    <% if i != user.memberships.first(4).count %>
      ,
    <% end %>
    <% i = i + 1 %>
             <% end %>
<% end %>



            </div>
          </div>
          </div>
        </div>
      

