<div class="result">
<!--li-->
  <!--div class = 'row'-->
    <!--div class = 'span8'-->
      <!--p-->
      	<%= link_to user.name, user %> from <%= user.city.fullname %> 
        <% 
          ref_city = City.find_by_id(params[:user_city_id])
          if user.city.id != ref_city.id 
            distance_ref_city = ref_city.distance(user.city)
        %>
          (<%= (distance_ref_city.round(1)).to_s %> km from <%= ref_city.name %>)
        <% 
          end 
        %>
      <!--/p-->
      <div class="expertise">
      <!--p-->
        <% 
          instruments = {}
          if params[:instrument_id].to_i >= 1
            instruments = { instrument_id: params[:instrument_id] }
          end
          skills = Skill.where(user_id:  user.id).where(instruments).limit(2) 
        %>
        <%= render partial: 'search_skills', locals: { skills: skills } %>
      <!--/p-->
    </div>
    <div class="avatar"><!--div class = 'span2'-->
      <%= gravatar_for user, size: 90, class: 'avatarfull' %>
    </div>
  <!--/div-->
<!--/li-->
</div>