<li>
  <div class = 'row'>
    <div class = 'span2'>
      <%= gravatar_for user, size: 90 %>
    </div>
    <div class = 'span8'>
      <p>
      	<%= link_to user.name, user %> from <%= user.city.fullname %> 
        <% 
          ref_city = City.find_by_id(params[:user_city_id])
          if user.city.id != ref_city.id 
            distance_ref_city = ref_city.distance(user.city)
        %>
          (<%= (distance_ref_city.round(1)).to_s %> km from <%= ref_city.name %>)
        <% 
          end 
        %>
      </p>
      <p>
        <% skills = Skill.where(user_id:  user.id, instrument_id: params[:instrument_id]) %>
        <%= render partial: 'skills', object: skills %>
      </p>
    </div>
  </div>
</li>