<% provide(:title, "Edit user") %> 

<br/>
<div class="text2" >
<h1>Update your profile</h1>

   <ul class="nav2 nav2-pills nav2-stacked" style="margin-left:-15px;">
    <li class=<%= (params[:section].nil? || params[:section] == 'general') ? "active" : "" %>>
      <%= link_to 'General', edit_user_path(@user, section: 'general') %>
    </li>
    <li class=<%= (params[:section] == 'location') ? "active" : "" %>>
      <%= link_to 'My Location', edit_user_path(@user, section: 'location') %>
    </li>
    <li class=<%= (params[:section] == 'skills') ? "active" : "" %>>
      <%= link_to 'My Skills', edit_user_path(@user, section: 'skills') %>
    </li>
    <li class=<%= (params[:section] == 'bands') ? "active" : "" %>>
      <%= link_to 'My Bands', edit_user_path(@user, section: 'bands') %>
    </li>
    <li class=<%= (params[:section] == 'genres') ? "active" : "" %>>
      <%= link_to 'My Favorite Genres', edit_user_path(@user, section: 'genres') %>
    </li>
  </ul>
  </div>

  <% case params[:section] %>
  <% when nil %>
  <%= render 'users/edit/general' %>
  <% when 'general' %>
  <%= render 'users/edit/general' %>
  <% when 'location' %>
  <%= render 'users/edit/mylocation' %>
  <% when 'skills' %>
  <%= render 'users/edit/myskills' %>
  <% when 'bands' %>
  <%= render 'users/edit/mybands' %>
  <% when 'genres' %>
  <%= render 'users/edit/mygenres' %>
  <% end %>


