<% provide(:title, "Edit user") %> 

<h1 class="center">Update your profile</h1><br/>
<div class="row text2">
  <div class="span6 offset3">

   <ul class="nav nav-tabs">
    <li class=<%= (params[:section].nil? || params[:section] == 'general') ? "active" : "" %>>
      <%= link_to 'General', edit_user_path(@user, section: 'general') %>
    </li>
    <li class=<%= (params[:section] == 'location') ? "active" : "" %>>
      <%= link_to 'My Location', edit_user_path(@user, section: 'location') %>
    </li>
    <li class=<%= (params[:section] == 'skills') ? "active" : "" %>>
      <%= link_to 'My Skills', edit_user_path(@user, section: 'skills') %>
    </li>
    <li class=<%= (params[:section] == 'bands') ? "active" : "" %>>
      <%= link_to 'My Bands', edit_user_path(@user, section: 'bands') %>
    </li>
    <li class=<%= (params[:section] == 'genres') ? "active" : "" %>>
      <%= link_to 'My Favorite Genres', edit_user_path(@user, section: 'genres') %>
    </li>
  </ul>
   
  <% case params[:section] %>
  <% when nil %>
  <%= render 'users/edit/general' %>
  <% when 'general' %>
  <%= render 'users/edit/general' %>
  <% when 'location' %>
  <%= render 'users/edit/mylocation' %>
  <% when 'skills' %>
  <%= render 'users/edit/myskills' %>
  <% when 'bands' %>
  <%= render 'users/edit/mybands' %>
  <% when 'genres' %>
  <%= render 'users/edit/mygenres' %>
  <% end %>


  </div>
</div>