<% provide(:title, 'Sign up') %>
<center>
<h1>Sign up</h1>


<div class="well table_signup text2 center">

    <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>
      <%= f.label :name %>
      <%= f.text_field :firstname, placeholder: "First name", class: "" %>
           <%= f.label :surname %>
      <%= f.text_field :surname, placeholder: "Last name", class: "" %>
       
      <%= f.label :email %>
      <%= f.text_field :email ,placeholder: "", class: "" %>

      <%= f.label :password %>
      <%= f.password_field :password, class: ""  %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: "" %>
 <%= f.submit "Create my account !", style:"width:97%;",  class: "btn btn-medium btn-success" %>
      </div>

    <% end %>
    </center>
<br /><br /><br /><br />
