<% provide(:title, @user.name) %>
<div class="profile text2">
 <p>
    <h1><%= @user.name %></h1>
    <% ( %> (<%= link_to("update", edit_user_path(current_user, section: 'general')) %>) <% ) if current_user?(@user) %>
</p>
 <p>     <h3>Avatar</h3>
    
  <div class="avatar"><span style="border:1px solid #BDBFBF;">

              <%= gravatar_for @user, class: 'avatar_size '  %>

</div>
<% ( %> (<%= link_to("update", edit_user_path(current_user, section: 'general')) %>) <% ) if current_user?(@user) %>

       
        
            <%= render 'contact_form' %>
            <%= (button_to "Send Message", new_message_path(recipient_id: @user.id), :method => "post", class: "btn btn-success btn-small") unless current_user?(@user) %>
          </p>
        
    
    <div class="">
      <p style="clear:left;">
        <h3>Location</h3>
<%= @user.city.present? ? @user.city.fullname : 'Unknown' %><br/>
        <% ( %> (<%= link_to("update", edit_user_path(current_user, section: 'location')) %>) <% ) if current_user?(@user) %>
         
      </p>
      
      <p class="">
       <h3>Memberships</h3>
        <div class="condensed">
          <% if @user.memberships.empty? %>
            None
          <% else %>
            <% @user.memberships.each do |membership| %>
              
              
              
              <%= link_to membership.band.name, membership.band %> : <%= (membership.instrument.name) %>
              <br/>
            <% end %>
            </ul>
          <% end %>
          <br/>
          <% ( %> (<%= link_to("update", edit_user_path(current_user, section: 'bands')) %>) <% ) if current_user?(@user) %>
        </div>
      </p>
      <p class="">
       <h3>Played Genres</h3>
        <div class="condensed">
          <% if @user.favorite_genres.empty? %>
            None
          <% else %>
            
            <% @user.favorite_genres.each do |genre| %>
              
              <%= Genre.find(genre.genre_id).name %>
              <br />
            <% end %>
           
          <% end %>
          <% ( %> (<%= link_to("update", edit_user_path(current_user, section: 'genres')) %>) <% ) if current_user?(@user) %>
        </div>
      </p>
      <p>
       <h3>Skills</h3>
        <%= !@user.skills.empty? ? render(partial: 'profile_skills', locals: { skills: @user.skills }) : 'Unknown' %>

      <% ( %> (<%= link_to("update", edit_user_path(current_user, section: 'skills')) %>) <% ) if current_user?(@user) %>
      </p>
    </div>
    </div>
  