<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <%= render partial: 'skills', object: @user.skills %>
    <br/>
    <ul class="memberships">
    <% @user.memberships.each do |membership| %>
      <li>
      Playing 
      <%= image_tag(membership.instrument.image_name, size: "32x32", alt: membership.instrument.name) %>
      in
      <%= link_to membership.band.name, membership.band %>
      </li>
    <% end %>
    </ul>

  </div>
</div>
