<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <p>
      <h3>Location</h3> <%= @user.city.fullname %>
    </p>
    <p>
      <h3>Skills</h3>
      <%= render partial: 'skills', object: @user.skills %>
    </p>
    <p>
      <h3>Memberships</h3>
      <ul class="condensed">
      <% @user.memberships.each do |membership| %>
        <li>
        Playing 
        <%= image_tag(membership.instrument.image_name, size: "32x32", alt: membership.instrument.name) %>
        in
        <%= link_to membership.band.name, membership.band %>
        </li>
      <% end %>
      </ul>
    </p>
  </div>
</div>
