<% content_for :javascript_includes do %>
  <%= javascript_include_tag "http://www.maxmind.com/app/geoip.js" %>
  <script type="text/javascript">
  $(document).ready(function(){
    if (!document.getElementById('band_city_name').value)
    {
      var city = geoip_city() + ', ' + geoip_region_name() + ', ' + geoip_country_name().toUpperCase();
      document.getElementById('band_city_name').value = city;
    }
  });
  </script>
<% end %>



<div class='center hero-unit'>
<%= form_tag bands_path, :method => 'get', onsubmit: "if('#{params[:band_city_name]}' && document.getElementById('band_city_name').value == ''){document.getElementById('band_city_name').value = '#{params[:band_city_name]}'; 
      document.getElementById('band_city_has_been_selected').value = 1;
      document.getElementById('band_city_id').value = '#{params[:band_city_id]}';}" do %>
  <p>
    I'm looking for a <b>music band</b> playing

    <%= select_tag 'genre_id', options_from_collection_for_select(Genre.all, 'id', 'name', params[:genre_id]), { class: 'input-medium search-query' } %>  

    in

    <%= text_field_tag 'band_city_name', params[:band_city_name], class: 'search-query ui-autocomplete-input input-large', placeholder: 'City name', data: {autocomplete_source: cities_path}, id: 'band_city_name',
      onclick: 'this.select();',
      onblur: "if('#{params[:band_city_name]}' && this.value == ''){this.value = '#{params[:band_city_name]}'; 
      document.getElementById('band_city_has_been_selected').value = 1;
      document.getElementById('band_city_id').value = '#{params[:band_city_id]}';}"  
    %> 
    <%= hidden_field_tag 'band_city_id', params[:band_city_id] %> 
    <%= hidden_field_tag 'band_city_has_been_selected', 0 %>


    <%= submit_tag 'Find !', :name => nil, class: 'btn btn-primary' %>
  </p>
<% end %>
</div>


<!--
<script src="http://j.maxmind.com/app/geoip.js" charset="ISO-8859-1" type="text/javascript" ></script>
<script type="text/javascript">
  var city = geoip_city() + ', ' + geoip_region_name() + ', ' + geoip_country_name();
  document.getElementById('band_city_name').placeholder = city;
</script>
-->