<% content_for :javascript_includes do %>
  <%= javascript_include_tag "https://j.maxmind.com/app/geoip.js" %>
  <script type="text/javascript">
  $(document).ready(function(){
    if (!document.getElementById('user_city_name').value)
    {
      var city = geoip_city() + ', ' + geoip_region_name() + ', ' + geoip_country_name().toUpperCase();
      document.getElementById('user_city_name').value = city;
    }
  });
  </script>
<% end %>


<div class='center hero-unit'>
<%= form_tag users_path, :method => 'get', onsubmit: "if('#{params[:user_city_name]}' && document.getElementById('user_city_name').value == ''){document.getElementById('user_city_name').value = '#{params[:user_city_name]}'; 
      document.getElementById('user_city_has_been_selected').value = 1;
      document.getElementById('user_city_id').value = '#{params[:user_city_id]}';}" do %>
  <p>
    I'm looking for a <b>musician</b> playing
    
    <%= select_tag 'instrument_id', options_from_collection_for_select(Instrument.all, 'id', 'name', params[:instrument_id]), { class: 'input-medium search-query' } %>  

    in

    <%= text_field_tag 'user_city_name', params[:user_city_name], class: 'search-query ui-autocomplete-input input-large', placeholder: 'City name', data: {autocomplete_source: cities_path}, id: 'user_city_name',
      onclick: 'this.select();',
      onblur: "if('#{params[:user_city_name]}' && this.value == ''){this.value = '#{params[:user_city_name]}'; 
      document.getElementById('user_city_has_been_selected').value = 1;
      document.getElementById('user_city_id').value = '#{params[:user_city_id]}';}"  
    %> 
    <%= hidden_field_tag 'user_city_id', params[:user_city_id] %> 
    <%= hidden_field_tag 'user_city_has_been_selected', 0 %>

    <%= submit_tag 'Find !', :name => nil, class: 'btn btn-primary' %>
  </p>
<% end %>
</div>