<% provide(:title, "Edit band") %> 

<div class="text2" >
<h1>Manage your band</h1>

   <ul class="nav2 nav2-pills nav2-stacked" style="margin-left:-15px;">
    <li class=<%= (params[:section].nil? || params[:section] == 'presentation') ? "active" : "" %>>
      <%= link_to 'Presentation', edit_band_path(@band, section: 'presentation') %>
    </li>
    <li class=<%= (params[:section] == 'location') ? "active" : "" %>>
      <%= link_to 'Location', edit_band_path(@band, section: 'location') %>
    </li>
    <li class=<%= (params[:section] == 'members') ? "active" : "" %>>
      <%= link_to 'Members', edit_band_path(@band, section: 'members') %>
    </li>
  </ul>
  </div>
   
  <% case params[:section] %>
  <% when nil %>
  <%= render 'bands/edit/band_presentation' %>
  <% when 'presentation' %>
  <%= render 'bands/edit/band_presentation' %>
  <% when 'location' %>
  <%= render 'bands/edit/band_location' %>
  <% when 'members' %>
  <%= render 'bands/edit/band_members' %>
  <% end %>


