<header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Let's Band!", root_path, id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Home", root_path %></li>
              <% if signed_in? %>
                <li><%= link_to "Bands", bands_path %></li>
                <li><%= link_to "Musicians", users_path %></li>
                <li><%= link_to image_tag((current_user.unread_messages? ? "new_" : "") + "mail.png", width: 30, alt: "Mailbox", mouseover: image_path((current_user.unread_messages? ? "new_" : "") + 
                "mail_over.png")), received_messages_path %></li>
                <li id="fat-menu" class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Account <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li><%= link_to "My Profile", current_user %></li>
                    <li><%= link_to "Edit My Profile", edit_user_path(current_user) %></li>
                    <li><%= link_to "Manage My Bands", edit_user_path(current_user, :section => 'bands') %></li>
                    <li class="divider"></li>
                    <li>
                      <%= link_to "Sign out", signout_path, method: "delete" %>
                    </li>
                  </ul>
                </li>
              <% else %>
                <li><%= link_to "Sign in", signin_path %></li>
              <% end %>
            </ul>
          </nav>
        </div>
      </div>
    </header>