<div id="bgmenu_black">
  <img src="assets/logo_menu.png" class="logo_menu" style="" />
  <ul>
    <li><%= link_to "home", root_path %></li>
    <% if signed_in? %>
      <li><%= link_to "bands", bands_path %></li>
      <li><%= link_to "musicians", users_path %></li>
      <li><%= link_to image_tag((current_user.unread_messages? ? "new_" : "") + "ico2.png", width: 14, height: 8, alt: "mailbox", mouseover: image_path((current_user.unread_messages? ? "new_" : "") + 
      "ico1.png")), received_messages_path %></li>
      <li id="fat-menu" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          ACCOUNT <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to "My Profile", current_user %></li>
          <li><%= link_to "Edit My Profile", edit_user_path(current_user) %></li>
          <li><%= link_to "Manage My Bands", edit_user_path(current_user, :section => 'bands') %></li>
          <li class="divider"></li>
          <li>
            <%= link_to "sign out", signout_path, method: "delete" %>
          </li>
        </ul>
      </li>
    <% else %>
      <li><%= link_to "sign in", signin_path %><b class="caret"></b></li>
         

    <% end %>
	 </ul>
  </div>
