<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="google-site-verification" content="G2y9a8ArN-bev7Fgpr_r-HREG6G8WgSNbjR2aPA70jI" />
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= yield :javascript_includes %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <% if request.path != root_path %><div id="fullpage"><% end %>
      <%= render 'layouts/menu' %>
      <!--div class="container"-->
        <%= render 'layouts/header' %>
        <% if request.path != root_path %>
          <div id="page"><div class="page">
        <% end %>
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value.html_safe, class: "alert alert-#{key}") %>
        <% end %>
        <%= content_for?(:content) ? yield(:content) : yield %>
        <% if request.path != root_path %>
          </div></div>
          <%= render 'layouts/footer' %>  
        <% end %>
        <%= debug(params) if Rails.env.development? %>
      <!--/div-->
    <% if request.path != root_path %></div><% end %>
  </body>
</html>