<% content_for :content do %>
<div class="row">
	<div class="span2">	
		<ul class="nav nav-list">
		  <li class="nav-header">Messages</li>
		  <li <%= (yield(:menu)=="new") ? "class=active" : "" %>><%= link_to 'New', new_message_path %></li>
		  <li class="divider"></li>
		  <li <%= (yield(:menu)=="received") ? "class=active" : "" %>> <%= link_to 'Received' + (' ('+current_user.unread_message_count.to_s+')' if current_user.unread_messages?), messages_received_path %></li>
		  <li <%= (yield(:menu)=="sent") ? "class=active" : "" %>><%= link_to 'Sent', messages_sent_path %></li>
		</ul>
	</div>
	<div class="span10">
		<%= yield %>
	</div>
</div>
<% end %>
<%= render :template => 'layouts/application' %>
